#loading {
  text-align: center;
  font-weight: 300;
  margin: 100px;
}

#movieInfo .inline {
  display: inline-block;
  padding-right: 10px;
  margin: 10px 0px;
}

#movieInfo #rating {
  margin: 10px 0px 30px 0px;
}

#movieSuggest {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#movieSuggest.cover {
  margin: 0 auto;
}

#gridDetail {
  display: grid;
  grid-template-columns: 500px 1fr;
  margin: 50px 0px 100px 0px;
}

#gridDetail #movieCover img {
  width: 450px;
}
